<div class="info">
    <div class="info__aboutUs">
        <p class="info__title">О нас</p>
        <p>Мы, ТОО «Гражданин», создано в мае 2009 года в г. Нур-Султан и осуществляет свою деятельность в сфере информационных технологий, основным направлением которого является разработка и сопровождение программного обеспечения, также обладает авторскими правами на объекты интеллектуальной собственности.</p>
    </div>
    <div class="info__activity">
        <p class="info__title">Сферы деятельности</p>
        <div class="activityList">
            <div class="activityList__item">
                <img src="/assets/img/activity-briefcase.png" alt="activity-briefcase">
                <p>Оказание государственных и вспомогательных услуг</p>
            </div>
            <div class="activityList__item">
                <img src="/assets/img/activity-help-circle.png" alt="activity-help-circle">
                <p>Консультирование населения по жизненным ситуациям</p>
            </div>
            <div class="activityList__item">
                <img src="/assets/img/activity-info.png" alt="activity-info">
                <p>Информирование населения</p>
            </div>

        </div>
    </div>
</div>
