Наши продукты
Опен Сити (Служба 109)
Предназначена для обработки обращении граждан. Для этих целей разворачивается портал, система для фронт офис, контакт-центра, мобильное приложение, интеграция с социальными сетями, база знании и модуль аналитики.
Служба 112
Автоматизация работы экстренных служб. Система состоит из центральной и профильных контакт-центров, интегрированных между собой, по переводу звонка и карточки обращения.
iQala
Платформа для автоматизации процесса оказания услуг коммунальными предприятиями в едином портале. В перечень услуг входят выдача технических условии, подписания договоров и консультации. На платформе также настраиваются композитные услуги что экономит время граждан.
Система РГИС
Платформа содержащая пространственные данные которые визуализируются и используются для различных сервисов в том числе для автоматизации государственных услуг в сфере архитектуры, градостроительства и земельных отношении.
