<div class="sectionNews">
    <a id="news"></a>
    <div class="sectionNews__container">
        <div class="sectionNews__title">
            <div>
                <p class="sectionNews__title--big">Наши новости</p>
                <a href="#" class="sectionNews__title--button">Все новости</a>
            </div>
            <p class="sectionNews__title--little">Желтее прессы Вы ещё не видели!</p>
        </div>
        <div class="news">
            <div class="news__item news__item1">
                <div>
                    <a href="#" class="news__item--button">Читать подробнее</a>
                    <div class="news__item--info">
                        <p>12 августа</p>
                        <p>Фотография</p>
                    </div>
                    <p class="news__item--caption">53 новых и горячих совета по фотографии!</p>
                </div>
                <div class="news__item--cursor"></div>
            </div>
            <div class="news__item news__item2">
                <div>
                    <a href="#" class="news__item--button">Читать подробнее</a>
                    <div class="news__item--info">
                        <p>12 августа</p>
                        <p>Еда</p>
                    </div>
                    <p class="news__item--caption">Без еды как без рук. 10 ответов на ваш вопрос «Почему»</p>
                </div>
                <div class="news__item--cursor"></div>
            </div>
            <div class="news__item news__item3">
                <div>
                    <a href="#" class="news__item--button">Читать подробнее</a>
                    <div class="news__item--info">
                        <p>12 августа</p>
                        <p>Спорт</p>
                    </div>
                    <p class="news__item--caption">Спорт что дышло: как повернул, так и вышло</p>    
                </div>
                <div class="news__item--cursor"></div>
            </div>
            <div class="news__item news__item4">
                <div>
                    <a href="#" class="news__item--button">Читать подробнее</a>
                    <div class="news__item--info">
                        <p>12 августа</p>
                        <p>Спорт</p>
                    </div>
                    <p class="news__item--caption">Приемы йоги, которые вам следует игнорировать</p>    
                </div>
                <div class="news__item--cursor"></div>
            </div>
            <div class="news__item news__item5">
                <div>
                    <a href="#" class="news__item--button">Читать подробнее</a>
                    <div class="news__item--info">
                        <p>12 августа</p>
                        <p>Еда</p>
                    </div>
                    <p class="news__item--caption">Даже самый странный фрукт стоит попробовать?</p>    
                </div>
                <div class="news__item--cursor"></div>
            </div>
            <div class="news__item news__item6">
                <div>
                    <a href="#" class="news__item--button">Читать подробнее</a>
                    <div class="news__item--info">
                        <p>12 августа</p>
                        <p>Техника</p>
                    </div>
                    <p class="news__item--caption">10 признаков того, что вы купили тот самый iPhone</p>    
                </div>
                <div class="news__item--cursor"></div>
            </div>
        </div>
    </div>
</div>