@include b(header) {
    @include flex;
    @include flex-direction(row);
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro 600';
    @include e(logo) {
        @include flex;
        @include flex-direction(row);
        font-size: 20px;
        font-weight: bolder;
        img {
            @include icon;
        }
    }
    @include e(menu) {
        flex-grow: 2;
    }
    @include e(mail) {
    }
}
