@include b(layout) {
    @include flex;
    @include flex-direction(column);
    @include flex-align(left, top);
    min-width: 100%;
    width: 100%;
    background: #ffffff;
    @include e(header) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(sectionTable) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(sectionNews) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(footer) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
}
