@include b(sectionTable) {
    width: 100%;
    margin: 0 auto 50px;
    @include e(container) {
        width: 77%;
        max-width: 1110px;
        margin: 0 auto;
    }
    @include e(title) {
        margin: 0;
        letter-spacing: -0.02em;
        @include m(big) {
        margin: 0;
        font-family: 'Source Sans Pro 700';
        font-size: 22px;
        font-weight: bolder;
        text-transform: uppercase;
        }
        @include m(little) {
            color: #77767E;
        }
    }
    @include e(table) {
        margin-bottom: 20px;
    }
    @include e(pagination) {
        @include flex;
        @include flex-direction(row);
        font-family: 'Source Sans Pro 600';
        color: #4E4E53;
        div /*number button*/{
            @include flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            margin-right: 10px;
            background-color: #F7F7FA;
            &:hover {
                cursor: pointer;
                background-color: rgba(0, 102, 255, 0.2);
            }
            // &:active {
            //     color: #ffffff;
            //     background-color: #0066FF;
            //     .table1 {
            //         display: none;
            //     }
            //     .table2 {
            //         display: table;
            //     }
            //     .table3 {
            //         display: block;
            //     }
            // }
                
            
            &:first-child {
                color: #ffffff;
                background-color: #0066FF;
            }
        }
        @include m(button) {
            margin: auto;
            // &:active {
            //     .table2 {
            //         display: table;
            //     }
            //     .table3 {
            //         display: block;
            //     }
            // }
        }
    }
}
// .sectionTable__pagination--button {
//     &:active {
//         .table2 {
//             display: table;
//         }
//         .table3 {
//             display: block;
//         }
//     }
// }
@include b(table) {
    width: 100%;
    font-family: 'Source Sans Pro 600';
    font-size: 13px;
    border: 1px solid #D1CFD7;
    border-collapse: collapse;
    text-align: center;
    
    @include e(row) {
    }
    @include e(row1) {
        width: 5%;
    }
    @include e(row2) {
        width: 50%;
    }
    @include e(row3) {
        width: 15%;
        text-transform: uppercase;
    }
    tr {
        height: 30px;
    }
    th,
    td {
        border-left: 1px solid #D1CFD7;
    }
    th:nth-child(2),
    td:nth-child(2) {
        padding-left: 5px;
        text-align: left;
    }
    thead {
        color: #9A99A2;
        background-color: #F7F7FA;
        border-bottom: 1px solid #D1CFD7;
    }
    tbody {
        color: #232326;
        tr:nth-child(2n) {
            background-color: #F7F7FA;
        }
        tr {
            &:hover {
                background-color: #D6E7FF;
                cursor: pointer;
            }
        }
    }
    @include e(colorCell) {
        @include m(green) {
            background-color: #4CD964;
        }
        @include m(red) {
            background-color: #FF4E3D;
        }
        @include m(grey) {
            background-color: #848993;
        }
    }
    div {
        width: 10px;
        height: 10px;
        margin: auto;
        border-radius: 50%;
    }
}
.table2 {
    display: none;
}
.table3 {
    display: none;
}

@include respond-to(mobile) {
    @include b(sectionTable) {
        margin: 0 auto 30px;
        @include e(container) {
            width: 90%;
        }
    }
}