<div class="header">
    <div class="header__container">
        <div class="header__logo">
            {{> _logo}}
        </div>
        <div class="header__menu">
            <a href="#table"><div class="header__menu--button header__menu--button1">Таблица</div></a>
            <a href="#news"><div class="header__menu--button header__menu--button1">Новости</div></a>
            <a href="#contacts"><div class="header__menu--button header__menu--button2">Связаться</div></a>
        </div>
    </div>
</div>